In [1]:
import pandas as pd
import geopandas as gpd
import streamlit as st 
import plotly.express as px
import folium
from streamlit_folium import st_folium, folium_static
from folium.plugins import MarkerCluster

In [4]:
data_1 = r"D:\0_Respaldo\0_Proyectos_2024\Henry_Labs\Lab2\Baires_Accidents\Data\ETL\siniestros_por_comuna.parquet"  ### Siniestros por comuna
data_2 =  r"D:\0_Respaldo\0_Proyectos_2024\Henry_Labs\Lab2\Baires_Accidents\Data\ETL\siniestros.parquet"  ### Siniestros por tipo
data_3 = r"D:\0_Respaldo\0_Proyectos_2024\Henry_Labs\Lab2\Baires_Accidents\Data\comunas.geojson"  ### Geodata

In [4]:
data_4 = r"D:\0_Respaldo\0_Proyectos_2024\Henry_Labs\Lab2\Baires_Accidents\Data\Parquet\comisarias.parquet"

In [5]:
df_com = pd.read_parquet(data_4)

In [6]:
df_com.head(5)

     Latitud   Longitud                 nombre  COMUNA
0 -34.601906 -58.373245  Comisaria Vecinal 1-D       1
1 -34.628641 -58.424926  Comisaria Vecinal 5-B       5
2 -34.608979 -58.439501  Comisaria Vecinal 6-A       6
3 -34.626780 -58.448087  Comisaria Vecinal 7-B       6
4 -34.620382 -58.453221    Comisaria Comunal 6       6

In [5]:
df1 = pd.read_parquet(data_1)

In [11]:
df2 = pd.read_parquet(data_2)

In [ ]:
df3 = gpd.read_file(data_3)

In [ ]:
df3.head(3)

In [ ]:
min_lon, max_lon = -58.23, -58.63
min_lat, max_lat = -34.75, -34.50

In [ ]:
m = folium.Map(location=[-34.61777, -58.43210], 
            tiles='Esri_WorldGrayCanvas', 
            zoom_control=False, zoom_start=12, min_zoom=12,
            max_bounds=True, # Creation of map's limits.
            min_lat = min_lat,
            max_lat=max_lat,
            min_lon=min_lon,
            max_lon=max_lon                  
            )

marker_cluster = MarkerCluster().add_to(m)

In [ ]:
st_data = st_folium(m, width=700, height=650)

In [ ]:
df1.head(3)

In [ ]:
### Calculo kpi total de siniestros Buenos aires
 # total Accidentes mortales 2021 = am21
 # total Accidentes mortales 2020 = am20
am21 = df1['Total victimas 2021'].sum()
am20 = df1['Total victimas 2020'].sum()
print(am21)

In [ ]:
kpi_am21 = (am21-am20)/am20*100
print(kpi_am21)

### Muertes por cada 100,000 habitantes

muertes por cada 100000 habitantes = ((total muertes)/(poblacion ciudad))*100000

In [9]:
df1.head(3)

,COMUNA,Poblacion 2021,Poblacion 2020,Total victimas 2020,Total victimas 2021
0,1,257235,256405,10.0,9.0
1,2,149371,149430,5.0,4.0
2,3,193425,193276,10.0,8.0

In [13]:
df2

              ID  N_VICTIMAS  AAAA  COMUNA   Longitud    Latitud    VICTIMA
index
512    2020-0001         1.0  2020      15 -58.439104 -34.592134     PEATON
513    2020-0002         1.0  2020       7 -58.450194 -34.646464       MOTO
514    2020-0003         1.0  2020       3 -58.393376 -34.609276     PEATON
515    2020-0004         1.0  2020       1 -58.390556 -34.609193     PEATON
516    2020-0005         1.0  2020       3 -58.410370 -34.624770       MOTO
...          ...         ...   ...     ...        ...        ...        ...
679    2021-0093         1.0  2021       7 -58.433538 -34.645616       MOTO
680    2021-0094         1.0  2021       9 -58.467398 -34.651178       MOTO
681    2021-0095         1.0  2021      11 -58.472934 -34.619847       MOTO
682    2021-0096         1.0  2021       9 -58.470668 -34.650217       AUTO
683    2021-0097         1.0  2021       1 -58.379762 -34.586796  BICICLETA

[172 rows x 7 columns]

In [6]:
#m2021 = muertes por cada 100000 habitantes.
m2021 = ((df1['Total victimas 2021'].sum())/(df1['Poblacion 2021'].iloc[0]))*100000

In [7]:
m2020 = ((df1['Total victimas 2020'].sum())/(df1['Poblacion 2020'].iloc[0]))*100000

In [8]:
# Calculo de kpi en relacion al anio anterior
m100 = m2021 - m2020

In [ ]:
m100 = round(m100, 0)

In [ ]:
print(m100)

In [ ]:
df2

### Muertes por tipo de victima

In [ ]:
df_vic= df2[['AAAA','COMUNA','VICTIMA','N_VICTIMAS']]

In [ ]:
df_vic = df_vic[df_vic['AAAA'] == 2021]

In [ ]:
df_vic = df_vic.drop('AAAA', axis=1)

In [ ]:
df_vic.head(3)

In [ ]:
df_vic = df_vic.groupby(['COMUNA','VICTIMA'])['N_VICTIMAS'].sum().reset_index()

In [ ]:
df_vic.head(5)

In [ ]:
df_comunas = df_vic[df_vic['COMUNA'] == 1]

In [ ]:
df_grouped = df_comunas.groupby('VICTIMA')['N_VICTIMAS'].sum().reset_index()

In [ ]:
#data_comuna = px.data.df_vic().query("COMUNA == 1")
data = df_grouped
fig = px.bar(data, x='VICTIMA', y='N_VICTIMAS', color='VICTIMA')

fig.update_layout(showlegend=False)
fig.show()